body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #222;
  color: white;
  padding: 1rem;
}

.detalle-container {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 2rem;
  flex: 1;
}

.imagen-monstruo {
  flex: 1 1 300px;
  background-color: #ccc;
  height: 700px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.imagen-monstruo img {
  max-width: 100%;
  max-height: 80%;
}

.volver-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #444;
  color: white;
  padding: 0.3rem 0.7rem;
  border-radius: 50%;
  font-size: 0.9rem;
  text-decoration: none;
}

.estrellas {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #000;
}

.info-monstruo {
  flex: 1 1 300px;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.info-monstruo h2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.2rem;
}

.info-monstruo h2 img {
  width: 45px;
  height: 45px;
}

.tips {
  margin-top: 1rem;
  background-color: #f0f0f0;
  padding: 1rem;
  border-radius: 8px;
}

.tips p {
  margin: 0.3rem 0;
}

.elementos {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.elementos img {
  width: 25px;
  height: 25px;
}

.descripcion {
  margin-bottom: 1rem;
}

.grupo {
  margin-bottom: 1rem;
}

.grupo span {
  display: inline-block;
  background-color: #e0e0e0;
  padding: 0.4rem 0.8rem;
  margin: 0.2rem;
  border-radius: 5px;
}

.acciones {
  display: flex;
  gap: 1rem;
  margin-top: 14rem;
}

.acciones button {
  flex: 1;
}

.acciones button a{
  text-decoration: none;
  color: white;
}

footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 1rem;
}